<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Financeiro - Gerir Fut</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>

    <input type="checkbox" id="menu-toggle">

<header class="navbar-topo">
    <div class="header-container">
        <div class="header-esquerdo">
            <label for="menu-toggle" class="btn-menu-header">☰</label>
            <span class="logo-texto">Gerir<span class="text-primary">Fut</span></span>
        </div>
        
        <div class="header-direito"></div>
    </div>
</header>

<nav class="sidebar">
    <ul>
        <li><a href="{{ url_for('homepage') }}">Home</a></li>
        <li><a href="{{ url_for('jogadores') }}">Jogadores</a></li>
        <li><a href="{{ url_for('financeiro') }}">Financeiro</a></li>
        <li><a href="{{ url_for('competicoes') }}">Competições</a></li>
        <li><a href="{{ url_for('contratacoes') }}">Contratações</a></li>
    </ul>
</nav>
    <div class='formulario'>
        <form action="" method="post" class="row mt-4">
            {{ form.csrf_token }}

            {{form.competicao.label()}}
            {{form.competicao()}}
            <br><br>

            {{form.colocacao.label()}}
            {{form.colocacao()}}

            <br><br>
            {{form.vitorias.label()}}
            {{form.vitorias()}}

            <br><br>
            {{form.btnSubmit()}}

        </form>
    </div>
    <div class="Resultados_comp">
        <h3>Resultados: </h3>
        <a href="{{url_for('competicoes_financeiro')}}"> Calculos</a>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>

</html>